# Ignore all files and directories inside the "static" directory
static/*

# Keep the "static/assets" directory and its contents
!static/assets/

# Ignore the "__pycache__" directory and its contents (if present)
__pycache__/

# Ignore specific files
YOLOv8x-best.pt
input-image.png
convert-file.png
convert-file.dicom
