<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Pediatric Wrist Anomaly Classification & Detection</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link
      href="{{ url_for('static', filename='assets/img/favicon.png')}}"
      rel="icon"
    />
    <link
      href="{{ url_for('static', filename='assets/img/apple-touch-icon.png')}}"
      rel="apple-touch-icon"
    />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="{{ url_for('static', filename='assets/vendor/fontawesome-free/css/all.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/animate.css/animate.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/aos/aos.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/boxicons/css/boxicons.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/glightbox/css/glightbox.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.css')}}"
      rel="stylesheet"
    />

    <!-- Template Main CSS File -->
    <link
      href="{{ url_for('static', filename='assets/css/style.css')}}"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top">
      <div class="container d-flex align-items-center">
        <a href="/" class="logo me-auto"
          ><img
            src="{{ url_for('static', filename='assets/img/logo.png')}}"
            alt=""
        /></a>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="logo me-auto"><a href="index.html"></a></h1> -->

        <nav id="navbar" class="navbar order-last order-lg-0">
          <ul>
            <li><a class="nav-link scrollto" href="/">Home</a></li>

            <li>
              <a class="nav-link scrollto" href="/#Research-Paper">Research</a>
            </li>
            <li>
              <a class="nav-link scrollto" href="/documentation"
                >Documentation</a
              >
            </li>
            <li>
              <a class="nav-link scrollto" href="#conversion_tool"
                >Conversion Tool</a
              >
            </li>
            <li><a class="nav-link scrollto" href="#about">About</a></li>
            <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

        <a href="/#appointment" class="appointment-btn scrollto"
          ><span class="d-none d-md-inline">DIAGNOSE X-RAY</span></a
        >
      </div>
    </header>
    <!-- End Header -->

    <main id="main">
      <section
        id="appointment"
        class="appointment section-bg"
        style="margin-top: 5em"
      >
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>DICOM to PNG</h2>
            <p>
              Convert your medical images from the Digital Imaging and
              Communications in Medicine (DICOM) format to the widely supported
              Portable Network Graphics (PNG) format using our online DICOM to
              PNG conversion tool. Our tool allows for easy viewing, sharing,
              and manipulation of medical images across various software
              applications and platforms.
            </p>
          </div>

          <form
            action="#"
            method="post"
            enctype="multipart/form-data"
            class="php-email-form"
            id="form-for-prediction"
          >
            <div class="col-md-4 offset-5 form-group">
              <input
                class="btn"
                name="input-image"
                type="file"
                id="image-input"
                accept=".dcm"
                required
              />
              <p class="note">Note: only .dcm acceptable</p>
            </div>
            <br />
            <div class="loaderOfImage"></div>
            <div class="text-center">
              <button type="submit">Convert</button>
            </div>
          </form>
          <div class="preview"></div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="footer-info">
                <h3>Pediatric Wrist Anomaly Classification & Detection</h3>
                <p>
                  Nisar Ahmed Siddiqui Road, <br />
                  Sukkur, Sindh, Pakistan <br /><br />
                  <strong>Phone:</strong> +92 300 3141736<br />
                  <strong>Email:</strong>
                  ammarahmed.bscsf19@iba-suk.edu.pk<br />
                  <strong>Email:</strong> amanaf.bscsf19@iba-suk.edu.pk<br />
                </p>
                <div class="social-links mt-3">
                  <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="#" class="facebook"
                    ><i class="bx bxl-facebook"></i
                  ></a>
                  <a href="#" class="instagram"
                    ><i class="bx bxl-instagram"></i
                  ></a>
                  <a href="#" class="google-plus"
                    ><i class="bx bxl-skype"></i
                  ></a>
                  <a href="#" class="linkedin"
                    ><i class="bx bxl-linkedin"></i
                  ></a>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-6 footer-links">
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Home</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">About us</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Services</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Terms of service</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Privacy policy</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-3 col-md-6 footer-links">
              <h4>Our Services</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Web Design</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Web Development</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Product Management</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Marketing</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Graphic Design</a>
                </li>
              </ul>
            </div>

            <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>Our Newsletter</h4>
              <p>
                Tamen quem nulla quae legam multos aute sint culpa legam noster
                magna
              </p>
              <form action="" method="post">
                <input type="email" name="email" /><input
                  type="submit"
                  value="Subscribe"
                />
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='assets/vendor/purecounter/purecounter_vanilla.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/aos/aos.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>

    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/conversion.js')}}"></script>
  </body>
</html>
